<launch>


    <param name="use_sim_time" value="true"/>

   <include file = "$(dirname)/link.launch"/>

    <arg name="scan_topic"  default="/scan" />
    <arg name="base_frame"  default="base_link"/>
    <arg name="odom_frame"  default="odom"/>
    
    <node pkg="RoboticsProject_2" type="occupancy_grid_processing.py" name="occupancy_grid_processing"/>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <remap from="scan" to="$(arg scan_topic)"/>

        <param name="maxRange" value="16"/>
        <param name="maxUrange" value="16"/>



        <param name="map_update_interval" value="1.0"/>
        <param name="iterations" value="7"/>

        <param name="linearUpdate" value="0.15"/>
        <param name="angularUpdate" value="0.03"/>


        <param name="particles" value="50"/>

        <param name="xmin" value="-10.0"/>
        <param name="ymin" value="-10.0"/>
        <param name="xmax" value="10.0"/>
        <param name="ymax" value="10.0"/>

        <param name="delta" value="0.05"/>
        <param name="llsamplerange" value="0.01"/>
        <param name="llsamplestep" value="0.01"/>
        <param name="lasamplerange" value="0.005"/>
        <param name="lasamplestep" value="0.005"/>

    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(dirname)/../rviz/map.rviz" />


</launch>
